<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      * {
        background-color: black;
        color: white;
      }

      .body_email {
        padding: 50px;
      }

      .logo_container {
        text-align: center;
      }

      .logo {
        width: 30%;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
